<header class="header">
    <div class="wrapper">
        <div class="header__content">
            <!-- <span class="header__logo"><i class="fas fa-bars"></i></span> -->
            <img class="header__logo" src="assets/images/logo.png" alt="Global mix">
            <input type="checkbox" id="menu" class="menu__checkbox">
            <ul class="menu">
                <li class="menu__item active"><a class="text-transparent" routerLink="/inicio">Inicio</a></li>
                <li class="menu__item "><a routerLink="/categorias">Categorías</a></li>
                <li class="menu__item"><a routerLink="/proyectos">proyectos</a></li>
                <li class="menu__item"><a routerLink="/corporacion">corporación</a></li>
                <li class="menu__item"><a routerLink="/contacto">contacto</a></li>
                <li class="menu__item"><a href="#"><img src="assets/images/icons/facebook.png" alt=""></a>
                </li>
                <li class="menu__item"><a href="#"><img src="assets/images/icons/whatsapp.png" alt=""></a>
                </li>
                <li class="menu__item"><a href="#"><img src="assets/images/icons/youtube.png" alt=""></a>
                </li>

            </ul>
            <ul>

            </ul>
            <!-- <button class="button">Cotizar</button> -->
            <label for="menu" class="menu__button"></label>
        </div>
    </div>
    <button class="header__button-cotizar">Cotizar</button>
</header>

<!-- 
       <ul>
            <li>
                <a href="#">categorías</a>
            </li>
            <li>
                <a href="#">proyectos</a>
            </li>
            <li>
                <a href="#">corporación</a>
            </li>
            <li>
                <a href="#">contacto</a>
            </li>
        </ul>
        <div class="social">
            <ul>
                <li><a href="#">face</a></li>
                <li><a href="#">insta</a></li>
                <li><a href="#">wha</a></li>
            </ul>
        </div>

        <div class="cotizar">
            <a href="#">cotizar</a>
        </div>

 -->