<header class="header">
    <div class="wrapper">
        <div class="header__content">
            <div class="header__content--logo">
                <img routerLink="/inicio" src="assets/images/logo.png" alt="Global mix" />
            </div>

            <nav #menu (click)="showHideMenu()" class="menu">
                <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
                <a routerLink="/categorias" routerLinkActive="active">Categorías</a>
                <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
                <a routerLink="/corporacion" routerLinkActive="active">Corporación</a>
                <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
                <a target="_blank" href="https://www.facebook.com/concretoglobalmix/"><img
                        src="assets/images/icons/facebook.png" alt="" /></a>
                <a target="_blank" href="https://www.instagram.com/globalmixconcretos/"><img
                        src="assets/images/icons/instagram.png" alt="" /></a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=50237581149"><img
                        src="assets/images/icons/whatsapp.png" alt="" /></a>
            </nav>
        </div>
    </div>
    <label #iconBurger class="icon-burger" (click)="showHideMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <button routerLink="/cotizador" class="btn-cotizar">Cotizar</button>
</header>


<!-- <header class="header">
    <div class="wrapper">
        <div class="header__content">
            <img routerLink="/inicio" class="header__logo" src="assets/images/logo.png" alt="Global mix">
            <input type="checkbox" id="menu" class="menu__checkbox">
            <ul class="menu">
                <li class="menu__item" routerLinkActive="active"><a class="" routerLink="/inicio">Inicio</a>
                </li>
                <li class="menu__item" routerLinkActive="active"><a routerLink="/categorias">Categorías</a></li>
                <li class="menu__item" routerLinkActive="active"><a routerLink="/proyectos">Proyectos</a></li>
                <li class="menu__item" routerLinkActive="active"><a routerLink="/corporacion">Corporación</a></li>
                <li class="menu__item" routerLinkActive="active"><a routerLink="/contacto">Contacto</a></li>
                <li class="menu__item" routerLinkActive="active"><a target="_blank"
                        href="https://www.facebook.com/concretoglobalmix/"><img src="assets/images/icons/facebook.png"
                            alt=""></a>
                </li>
                <li class="menu__item"><a target="_blank" href="https://api.whatsapp.com/send?phone=50237581149"><img
                            src="assets/images/icons/whatsapp.png" alt=""></a>
                </li>
                <li class="menu__item"><a target="_blank" href="https://www.instagram.com/globalmixconcretos/"><img
                            src="assets/images/icons/instagram.png" alt=""></a>
                </li>
            </ul>
            <ul>
            </ul>
            <label for="menu" class="menu__button"></label>
        </div>
    </div>
    <button routerLink="/cotizador" class="header__button-cotizar">Cotizar</button>
</header> -->

<!-- 
       <ul>
            <li>
                <a href="#">categorías</a>
            </li>
            <li>
                <a href="#">proyectos</a>
            </li>
            <li>
                <a href="#">corporación</a>
            </li>
            <li>
                <a href="#">contacto</a>
            </li>
        </ul>
        <div class="social">
            <ul>
                <li><a href="#">face</a></li>
                <li><a href="#">insta</a></li>
                <li><a href="#">wha</a></li>
            </ul>
        </div>

        <div class="cotizar">
            <a href="#">cotizar</a>
        </div>

 -->