@import '../../../../variables.scss';

.open-menu {
  bottom: 0 !important;
}

.header {
  background-color: rgba(0, 15, 41, 0.88);
  box-shadow: 0 2px 10px 0 rgba(19, 16, 16, 0.1);
  position: sticky;
  top: 0;
  z-index: 999999;

  .wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    .header__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-block: 5px;
      &--logo {
        img {
          display: block;
          height: 50px;
          outline: none;
        }
      }
    }
  }
}

.menu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: none;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding-inline: 10px;
    padding-block-end: 5px;
    border-bottom: 2px solid $primary;
    font-family: 'Roboto', sans-serif;
    i {
      border: 1px solid red;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
    }
    &:nth-child(6) {
      border: 0;
      img {
        height: 30px;
      }
    }
    &:nth-child(7) {
      border: 0;
      img {
        height: 30px;
      }
    }
    &:nth-child(8) {
      border: 0;
      img {
        height: 30px;
      }
    }
  }
}

.btn-cotizar {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 4.6875rem;
  height: 1.875rem;
  background: $primary;
  color: $secondary;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 0.9rem;
  outline: none;
}

.icon-burger {
  // display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  .line {
    width: 30px;
    height: 5px;
    background: $white;
    margin: 5px;
    border-radius: 3px;
  }
}

.drop-menu {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  a {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px solid $gray;
    width: 100%;
    text-align: center;
    padding-block: 10px;
    font-family: 'Roboto', sans-serif;
    &:nth-child(5) {
      border: none;
    }
    &:nth-child(6) {
      display: none;
    }
    &:nth-child(7) {
      display: none;
    }
    &:nth-child(8) {
      display: none;
    }
  }
}

.icon-burger-checked {
  .line {
    &:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
  }
}

.main {
  height: 200vh;
}

.active {
  border-bottom: 2px solid $secondary !important;
}

@media (min-width: 768px) {
  .menu {
    a {
      display: inline-block;
    }
  }

  .btn-cotizar {
    display: inline-block;
  }

  .icon-burger {
    display: none;
  }
}
