<div class="corporacion">
    <section class="portada">
        <div class="title container">
            <h1>Conoce nuestra <br /> corporación</h1>
        </div>
    </section>

    <section class="contenido container">
        <div class="nosotros">
            <h2>Nosotros</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam porro similique numquam, animi, iusto
                ipsa repellendus dolores nam odit officia unde. Veritatis omnis repudiandae laudantium eum beatae
                aperiam, totam praesentium.</p>
        </div>
        <div class="valores">
            <h2>Valores</h2>
            <div class="text">
                <span><i class="fas fa-caret-right"></i></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam porro similique numquam.</p>
            </div>
            <div class="text">
                <span><i class="fas fa-caret-right"></i></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam porro similique numquam.</p>
            </div>
            <div class="text">
                <span><i class="fas fa-caret-right"></i></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam porro similique numquam.</p>
            </div>
            <div class="text">
                <span><i class="fas fa-caret-right"></i></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam porro similique numquam.</p>
            </div>
        </div>

        <div class="mision">
            <h2>Misión</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non possimus molestiae, eius accusamus
                dignissimos enim eveniet pariatur magni molestias porro autem recusandae magnam consequuntur maxime
                voluptas numquam voluptatem distinctio dolorem</p>
        </div>

        <div class="vision">
            <h2>Visión</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, sunt fugit corporis quo hic vitae sint
                ad aliquid deserunt a! Architecto repellendus incidunt maiores nesciunt velit aliquam, modi quis fugiat.
            </p>
        </div>

    </section>
</div>

<app-footer></app-footer>