@import '../../../../../variables.scss';
.corporacion {
  min-height: 100vh;

  .portada {
    background: #f8f8f8;
    padding-inline: 1rem;
    .portada-wrapper {
      // border: 1px solid green;
      max-width: 1115px;
      margin: auto;
      height: 149px;
      display: flex;
      justify-content: start;
      align-items: center;

      .content {
        // border: 1px solid gold;
        h2 {
          font-size: 30px;
          font-weight: 500;
          font-family: $font-primary;
          color: #4b4b4b;
          text-transform: uppercase;
        }
      }
    }
  }

  .contenido {
    display: grid;
    /*  grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr 1fr; */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    grid-template-areas:
      'nosotros'
      'valores'
      'mision'
      'vision';
    /*     grid-template-areas:
      'nosotros valores'
      'mision mision'
      'vision vision'; */

    padding: 40px 10px;

    @media screen and(min-width: 700px) {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas:
        'nosotros valores'
        'mision mision'
        'vision vision';

      padding: 40px 0px;
    }

    .nosotros {
      grid-area: nosotros;
      background-color: #0b2342;
      color: $white;
      padding: 10px 20px;
      h2 {
        color: $primary;
        font-size: 1.5rem;
        font-family: $font-primary;
        text-align: center;
        @media screen and(min-width: 700px) {
          font-size: 2.5rem;
        }
      }
    }
    .valores {
      grid-area: valores;
      background-color: $primary;
      color: $white;
      padding: 10px 20px;
      h2 {
        color: $white;
        font-size: 1.5rem;
        font-family: $font-primary;
        text-align: center;
        @media screen and(min-width: 700px) {
          font-size: 2.5rem;
        }
      }
      .text {
        display: flex;
        flex-direction: row;
        span {
          i {
            font-size: 20px;
            color: $white;
          }
        }
        p {
          padding: 0 5px;
          color: $white;
        }
      }
    }
    .mision {
      grid-area: mision;
      background-color: #0b2342;
      color: $white;
      padding: 10px 20px;
      h2 {
        color: $primary;
        font-size: 1.5rem;
        font-family: $font-primary;
        text-align: center;
        @media screen and(min-width: 700px) {
          font-size: 2.5rem;
        }
      }
    }

    .vision {
      grid-area: vision;
      background-color: #96bcff;
      color: $white;
      padding: 10px 20px;
      h2 {
        color: #0b2342;
        font-size: 1.5rem;
        font-family: $font-primary;
        text-align: center;
        @media screen and(min-width: 700px) {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .corporacion {
    .portada {
      .portada-wrapper {
        padding-inline: 0;
      }
    }
  }
}
