.cotizador {
  min-height: 90vh;
  .cotizador__header {
    height: 40vh;
    width: 100vw;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(255, 255, 255, 0.1)
      ),
      url('../../../../../assets/images/fondos/cotizador-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cotizador__body {
    // border: solid 2px red;
    min-height: 80vh;
    .wrapper{
      // border: solid 2px green;
      padding-block: 1rem;
      padding-inline: 0;
    }
  }
}

