<div class="hero">
    <section class="banner-video">
        <div class="banner">
            <app-banner></app-banner>
        </div>
        <div class="videoBackground">
            <app-video-background></app-video-background>
        </div>
    </section>

    <section class="cotizador pt-5">
        <app-cotizador></app-cotizador>
    </section>
    <section class="projects">
        <div class="projects__header">
            <div class="line"></div>
            <div>
                <h2>proyectos</h2>
                <p>Algunas empresas que han confiado en nosotros</p>
            </div>
        </div>
        <div class="projects__body">
            <div class="projects__body-item1">
                <div class="content">
                    <h2>Proyecto
                        <br /> Hidroeléctrica</h2>
                </div>
            </div>
            <div class="projects__body-item2">

                <img src="assets/images/fondos/hidro-1.png" alt="">
            </div>
            <div class="projects__body-item3">
                <img src="assets/images/fondos/hidro-2.png" alt="">
            </div>
            <div class="projects__body-item4">
                <img src="assets/images/fondos/hidro-3.png" alt="">
            </div>
        </div>
        <div class="projects__ver-mas">
            <a class="button" routerLink="/proyectos">Ver más</a>
        </div>
    </section>

    <section class="aliados">
        <div class="aliados__header">
            <div class="line"></div>
            <div>
                <h2>Aliados comerciales</h2>
                <p>Trabajando de la mano de los mejores</p>
            </div>
        </div>

        <div class="aliados__body">
            <div class="contenido container">
                <div class="card cementos">
                    <div class="image">
                        <img src="assets/images/aliados/agreca.png" alt="">
                    </div>
                    <div class="footer">
                        <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                    </div>
                </div>
                <div class="card cemex">
                    <div class="image">
                        <img src="assets/images/aliados/cementos.png" alt="">
                    </div>
                    <div class="footer">
                        <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                    </div>
                </div>
                <div class="card agreca">
                    <div class="image">
                        <img src="assets/images/aliados/cemex.png" alt="">
                    </div>
                    <div class="footer">
                        <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                    </div>
                </div>
                <div class="card servitec">
                    <div class="image">
                        <img src="assets/images/aliados/servitec.png" alt="">
                    </div>
                    <div class="footer">
                        <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                    </div>
                </div>
                <div class="card pilar">
                    <div class="image">
                        <img src="assets/images/aliados/servitec.png" alt="">
                    </div>
                    <div class="footer">
                        <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="asesor">
        <div class="contenido">
            <div class="formulario">
                <h3>Consulta con <br /> un asesor de ventas</h3>
                <form>
                    <input class="input" type="text" placeholder="Nombre">
                    <input class="input" type="number" placeholder="Número de teléfono">
                    <input class="input" type="email" placeholder="Correo electrónico">
                    <div>
                        <button class="button" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>