@import '../../../../../variables.scss';
.hero {
  .projects {
    // height: 600px;
    // background: red;
    .projects__header {
      padding-top: 80px; // remover
      //   margin-left: 20px;
      display: flex;
      flex-direction: row;
      .line {
        width: 2px;
        background: gold;
        height: auto;
        margin: 8px 5px 0px 15px;
      }
      h2 {
        font-family: $font-primary;
        text-transform: uppercase;
        color: $gray;
        font-weight: normal;
        @media screen and (min-width: 700px) {
          font-size: 40px;
          line-height: 40px;
        }
      }
      p {
        font-family: $font-secondary;
        color: $primary;
        font-size: 12px;
        @media screen and (min-width: 700px) {
          font-size: 18px;
        }
      }

      @media screen and (min-width: 700px) {
        padding-left: 105px;
      }
    }

    .projects__body {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 100px auto auto auto;
      //   gap: 10px;
      grid-template-areas:
        'item1'
        'item2'
        'item3'
        'item4';
      margin-top: 16px;
      padding-right: 10px;
      padding-left: 10px;

      .projects__body-item1 {
        grid-area: item1;
        // border: 1px solid red;
        background: url('../../../../../assets/images/fondos/fondo-proyectos.jpg');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        .content {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          h2 {
            color: $white;
            font-family: $font-primary;
            // text-transform: uppercase;
            padding-left: 20px;

            br {
              display: none;
            }

            @media screen and (min-width: 700px) {
              font-size: 30px;
              padding-left: 0px;
              line-height: 40px;
              br {
                display: inline-block;
              }
            }
          }
          @media screen and (min-width: 700px) {
            justify-content: flex-start;
            padding-left: 105px;
          }
        }
      }
      .projects__body-item2 {
        grid-area: item2;
        img {
          width: 100%;
          //   height: 100%;
          vertical-align: top;
        }
      }
      .projects__body-item3 {
        grid-area: item3;
        img {
          width: 100%;
          //   height: 100%;
          vertical-align: top;
        }
      }
      .projects__body-item4 {
        grid-area: item4;
        img {
          width: 100%;
          vertical-align: top;
        }
      }

      // para escritorio
      @media screen and (min-width: 700px) {
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr 220px;
        column-gap: 5px;
        //   gap: 10px;
        grid-template-areas:
          'item1 item1 item3'
          '. item2 item3'
          '. item2 item4';

        .projects__body-item2 {
          img {
            height: 100%;
          }
        }
        .projects__body-item4 {
          img {
            height: 100%;
            padding-top: 5px;
          }
        }
        // .projects__body-item3 {
        //   grid-area: item3;
        //   img {
        //     height: 100%;
        //   }
        // }
      }
    }

    .projects__ver-mas {
      padding: 15px 10px;

      .button {
        background-color: $primary;
        padding: 5px 10px;
        display: inline-block;
        width: 150px;
        text-align: center;
        color: $white;
        text-decoration: none;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: 200;

        @media screen and (min-width: 700px) {
          font-size: 14px;
          padding: 10px;
        }
      }

      @media screen and (min-width: 700px) {
        margin-top: 10px;
        padding: 10px 0px 10px 115px;
      }
    }
  }
}
