<div class="hero">
        <section class="banner-video">
        <div class="banner-wrpapper">
            <app-banner></app-banner>
        </div>
       <!--  <div class="videoBackground">
            <app-video-background></app-video-background>
        </div> -->
    </section>

         <section class="section-cotizador">
         <div class="sc-wrapper">
             <div class="sc-content">
                 <app-cotizador></app-cotizador>
             </div>
         </div>
    </section>
  <section class="projects">
        <div class="projects__body">
            <div class="projects__body-item1">
                <div class="content">
                    <h2>Nuestros Proyectos</h2>
                </div>
            </div>
            <div class="projects__body-item2">

                <img src="assets/images/fondos/home-3.jpg" alt="">
            </div>
            <div class="projects__body-item3">
                <img src="assets/images/fondos/home-1.jpg" alt="">
            </div>
            <div class="projects__body-item4">
                <img src="assets/images/fondos/home-4.jpg" alt="">
            </div>
        </div>
        <div class="projects__ver-mas">
            <a class="button" routerLink="/proyectos">Ver más</a>
        </div>
    </section>

     <section class="aliados">

        <div class="aliados-wrapper">
            <div class="aliados__header">
                <div class="content">
                    <h2>Aliados comerciales</h2>
                    <p>Trabajando de la mano de los mejores</p>
                  </div>
            </div>
            <div class="aliados__body">
                <div class="contenido">
                    <div class="card cementos">
                        <div class="image">
                            <img src="assets/images/aliados/agreca.png" alt="">
                        </div>
                        <div class="footer">
                            <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                        </div>
                    </div>
                    <div class="card cemex">
                        <div class="image">
                            <img src="assets/images/aliados/cementos.png" alt="">
                        </div>
                        <div class="footer">
                            <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                        </div>
                    </div>
                    <div class="card agreca">
                        <div class="image">
                            <img src="assets/images/aliados/cemex.png" alt="">
                        </div>
                        <div class="footer">
                            <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                        </div>
                    </div>
                    <div class="card servitec">
                        <div class="image">
                            <img src="assets/images/aliados/servitec.png" alt="">
                        </div>
                        <div class="footer">
                            <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                        </div>
                    </div>
                    <div class="card pilar">
                        <div class="image">
                            <img src="assets/images/aliados/el-pilar.png" alt="">
                        </div>
                        <div class="footer">
                            <a href="#">Descargar certificado <i class="fas fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="asesor">
        <div class="asesor-wrapper">
            <div class="asesor-content">
                <div class="title">
                    <h3>
                        Consulta con un <br>asesor de ventas
                    </h3>
                </div>
                <div class="formulario">
                    <form [formGroup]="formaUserData">
                        <input formControlName="nombre" class="input" type="text" placeholder="Nombre" />
                        <input formControlName="telefono" class="input" type="number"
                            placeholder="Número de teléfono" />
                        <input formControlName="correo" class="input" type="email" placeholder="Correo electrónico" />
                    </form>
                </div>
                <div class="bottom">
                    <button class="button" (click)="sendData()">Enviar</button>
                </div>
            </div>
        </div>
    </section>
</div>
<app-whatsapp></app-whatsapp>
<app-footer></app-footer> 