<div class="proyectos">
    <section class="portada">
        <div class="portada-wrapper">
            <div class="content">
                <h2>Nuestros proyectos</h2>
            </div>
        </div>
    </section>

    <section class="proyectos-title">
        <div class="title-wrapper">
            <div class="content">
                <h3>proyectos en la industria</h3>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="project-caption">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="single-project mb-30">
                        <div class="project-img">
                            <img src="assets/images/corporacion/corporacion-1.jpg" alt="">
                        </div>
                        <div class="project-cap">
                            <a routerLink="/proyectos/detalle" class="plus-btn"><i class="fas fa-plus"></i></a>
                            <h4><a routerLink="/proyectos/detalle">Hidroélectrica</a></h4>
                            <!-- <h4><a href="project_details.html">Factory</a></h4> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="single-project mb-30">
                        <div class="project-img">
                            <img src="assets/images/corporacion/corporacion-2.jpg" alt="">
                        </div>
                        <div class="project-cap">
                            <a routerLink="/proyectos/detalle" class="plus-btn"><i class="fas fa-plus"></i></a>
                            <h4><a routerLink="/proyectos/detalle">Maxi Despensa</a></h4>
                            <!-- <h4><a href="project_details.html">Factory</a></h4> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="single-project mb-30">
                        <div class="project-img">
                            <img src="assets/images/corporacion/corporacion-3.jpg" alt="">
                        </div>
                        <div class="project-cap">
                            <a routerLink="/proyectos/detalle" class="plus-btn"><i class="fas fa-plus"></i></a>
                            <h4><a routerLink="/proyectos/detalle">Floride Chemicals</a></h4>
                            <!-- <h4><a href="project_details.html">Factory</a></h4> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="single-project mb-30">
                        <div class="project-img">
                            <img src="assets/images/corporacion/corporacion-4.jpg" alt="">
                        </div>
                        <div class="project-cap">
                            <a routerLink="/proyectos/detalle" class="plus-btn"><i class="fas fa-plus"></i></a>
                            <h4><a routerLink="/proyectos/detalle">Floride Chemicals</a></h4>
                            <!-- <h4><a href="project_details.html">Factory</a></h4> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="single-project mb-30">
                        <div class="project-img">
                            <img src="assets/images/corporacion/corporacion-5.jpg" alt="">
                        </div>
                        <div class="project-cap">
                            <a routerLink="/proyectos/detalle" class="plus-btn"><i class="fas fa-plus"></i></a>
                            <h4><a routerLink="/proyectos/detalle">Floride Chemicals</a></h4>
                            <!-- <h4><a href="project_details.html">Factory</a></h4> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="single-project mb-30">
                        <div class="project-img">
                            <img src="assets/images/project2.jpg" alt="">
                        </div>
                        <div class="project-cap">
                            <a routerLink="/proyectos/detalle" class="plus-btn"><i class="fas fa-plus"></i></a>
                            <h4><a routerLink="/proyectos/detalle">Floride Chemicals</a></h4>
                            <!-- <h4><a href="project_details.html">Factory</a></h4> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<app-whatsapp></app-whatsapp>
<app-footer></app-footer>