<div class="contacto">
    <section class="portada">
        <div class="title container">
            <h1>Contacto</h1>
        </div>
    </section>

    <!-- ================ contact section start ================= -->
    <section class="contact-section mt-5 mb-5">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4 text-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.3366526850054!2d-91.5432093846458!3d14.862442089636177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e983fe91a0b53%3A0x532a2113d9d07bc3!2sGlobal%20Mix%2C%20Concreto!5e0!3m2!1ses-419!2sgt!4v1593569886553!5m2!1ses-419!2sgt"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>


            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Contactanos</h2>
                </div>
                <div class="col-lg-8">
                    <form [formGroup]="formaUserData" class="form-contact contact_form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input formControlName="nombre" class="form-control valid" name="name" id="name"
                                        type="text" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Ingrese su nombre'" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input formControlName="correo" class="form-control valid" name="email" id="email"
                                        type="email" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Ingrese su correo'" placeholder="Correo">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input formControlName="asunto" class="form-control" name="subject" id="subject"
                                        type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Asunto'"
                                        placeholder="Asunto">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea formControlName="mensaje" class="form-control w-100" name="message"
                                        id="message" cols="30" rows="9" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Mensaje'" placeholder=" Mensaje"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button (click)="sendData()" class="button button-contactForm boxed-btn">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <!-- <div class="media contact-info">
                        <span class="contact-info__icon"><i class="fas fa-mobile-alt"></i></span>
                        <div class="media-body">
                            <h3>Buttonwood, California.</h3>
                            <p>Rosemead, CA 91770</p>
                        </div>
                    </div> -->
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="fas fa-mobile-alt"></i></span>
                        <div class="media-body">
                            <h3><a href="tel:+50237581149">+502 37581149</a></h3>
                            <p>¡LLamanos en cualquier momento!</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="far fa-envelope"></i></span>
                        <div class="media-body">
                            <h3>ventas@concretosglobalmix.com</h3>
                            <p>¡Envíenos su consulta en cualquier momento!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>