@import '../../../../../variables.scss';
.contacto {
  min-height: 100vh;

  .portada {
    background: #f8f8f8;
    padding-inline: 1rem;
    .portada-wrapper {
      // border: 1px solid green;
      max-width: 1115px;
      margin: auto;
      height: 9.3125rem;
      display: flex;
      justify-content: start;
      align-items: center;

      .content {
        // border: 1px solid gold;
        h2 {
          font-size: 30px;
          font-weight: 500;
          font-family: $font-primary;
          color: #4b4b4b;
          text-transform: uppercase;
        }
      }
    }
  }

  .contact-body {
    // border: 1px solid red;
    padding-block: 2rem;
    .body-wrapper {
      max-width: 1115px;
      margin: auto;
      padding-inline: 1rem;
      .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:
          'map'
          'info'
          'form';

        gap: 1rem;

        .map {
          grid-area: map;
          // border: 1px solid red;
          margin-block-end: 1rem;
        }

        .contact-info {
          grid-area: info;
          // border: 1px solid red;
          h4 {
            font-family: $secondary;
            font-weight: 500;
            line-height: 1.5;
            color: #4b4b4b;
            text-transform: uppercase;
          }

          .item {
            margin-block: 1rem;
            font-size: 1rem;
            color: #777777;
            span {
              i {
                font-size: 1.3rem;
              }
              margin-right: 10px;
              /* &:nth-of-type(1){
                color: red;
              } */
            }
            a {
              text-decoration: none;
              color: #777777;
            }

            p {
              font-size: 12px;
            }
          }
        }

        .formulario {
          grid-area: form;
          h4 {
            font-family: $secondary;
            font-weight: 500;
            line-height: 1.5;
            color: #4b4b4b;
            text-transform: uppercase;
          }
          form {
            .my-row {
              // border: 1px solid red;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              .input-wrapp {
                width: 100%;
                // border: 1px solid blueviolet;
                padding: 5px;
                input {
                  padding: 10px;
                  width: 100%;
                  border: 1px solid #eaeaea;
                  &:focus {
                    outline: 0;
                    box-shadow: none;
                  }
                  &::placeholder {
                    color: $gray;
                  }
                }
                textarea {
                  width: 100%;
                  resize: none;
                  padding: 10px;
                  border: 1px solid #eaeaea;
                  &:focus {
                    outline: 0;
                    box-shadow: none;
                  }
                  &::placeholder {
                    color: $gray;
                  }
                }
              }
            }
          }
          button {
            margin-inline-end: 1rem;
            font-weight: 500;
            display: inline-block;
            padding-block: 5px;
            padding-inline: 20px;
            border-radius: 3px;
            background-color: $primary;
            border: 0;
            color: $white;
            outline: none;
            text-transform: uppercase;
            min-width: 9.375rem;
            font-family: $secondary;
            &:hover {
              background: $primary;
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contacto {
    .portada {
      .portada-wrapper {
        padding-inline: 0;
      }
    }

    .contact-body {
      .body-wrapper {
        padding-inline: 0;
        .content {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-template-areas:
            'map map map'
            'info form form';

          .formulario {
            form {
              .my-row {
                // display: flex;
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }
}
