<section class="footer">
    <div class="contenido">
        <div class="links">
            <a href="#">categorías</a>
            <a href="#">cotizador</a>
            <a href="#">corporacion</a>
            <a href="#">contacto</a>
        </div>
        <div class="contacto">
            <a href="#"><i class="fas fa-phone-alt"></i> +(502)56117488</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i> Diagonal 5 37-45 Zona 8, Quetzaltenango</a>
            <a href="#"> <i class="fas fa-at"></i> contacto@concretosglobalmix.com</a>
            <div class="social">
                <a href=""><img src="assets/images/icons/facebook.png" alt=""></a>
                <a href=""><img src="assets/images/icons/whatsapp.png" alt=""></a>
                <a href=""><img src="assets/images/icons/youtube.png" alt=""></a>
            </div>
        </div>
        <div class="subscribe">
            <div class="suscribirse">
                <input type="email" placeholder="ejemplo@correo.com">
                <button type="submit">Suscribirse</button>
            </div>
            <div class="logo">
                <img src="assets/images/logo.png" alt="">
            </div>
        </div>
    </div>
</section>