<section class="footer">
    <div class="contenido">
        <div class="links">
            <a routerLink="/categorias">categorías</a>
            <a routerLink="/proyectos">cotizador</a>
            <a routerLink="/corporacion">corporación</a>
            <a routerLink="/contacto">contacto</a>
            <a routerLink="/cotizador">cotizador</a>
        </div>
        <div class="contacto">
            <a href="tel:+50256116171" rel="noopener noreferrer"><i class="fas fa-phone-alt"></i> +(502) 56116171</a>
            <a routerLink="/contacto" rel="noopener noreferrer"><i class="fas fa-map-marker-alt"></i> Diagonal 5 37-45 Zona 8, Quetzaltenango</a>
            <a target="_blank"  href="mailto:ventas@concretosglobalmix.com" rel="noopener noreferrer"> <i class="fas fa-at"></i> ventas@concretosglobalmix.com</a>
            <div class="social">
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/concretoglobalmix/"><img src="assets/images/icons/facebook.png"
                        alt=""></a>
                <a target="_blank" rel="noopener noreferrer" href="https://api.whatsapp.com/send?phone=5056116171"><img src="assets/images/icons/whatsapp.png"
                        alt=""></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/globalmixconcretos/"><img src="assets/images/icons/instagram.png"
                        alt=""></a>
            </div>
        </div>
        <div class="subscribe">
            <!-- <div class="suscribirse">
                <form [formGroup]="formaUserData">
                    <input formControlName="correo" type="email" placeholder="ejemplo@correo.com">
                    <button (click)="suscribirse()">Suscribirse</button>
                </form>
            </div> -->
            <div class="logo">
                <img src="assets/images/logo.png" alt="">
            </div>
        </div>
    </div>
</section>