@import '../../../../variables.scss';

.banner {
  /*   border: 2px solid red;
  // height: 80vh;
  padding: 10px; */
  .banner-wrapper {
    /*     border: 1px solid green;
    padding: 10px; */
    height: 80vh;

    background-image: url('../../../../assets/images/fondos/global-fondo.jpg');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .banner-content {
      position: relative;
      // border: 1px solid blue;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .banner-detail {
        /*  position: absolute;
        z-index: 999;
        top: 120px;
        left: 120px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        h1 {
          font-size: 3.625rem;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 4.25rem;
          color: $white;
          padding-block-end: 1rem;
          letter-spacing: 2px;
          font-family: 'Montserrat', serif;
        }

        p {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 300;
          text-align: center;
          color: white;
          padding-block-end: 2rem;
          font-family: $font-secondary;
        }

        .buttons {
          .cotizar {
            margin-inline-end: 1rem;
            font-weight: 500;
            display: inline-block;
            padding-block: 5px;
            padding-inline: 20px;
            border-radius: 3px;
            background-color: $secondary;
            border: 2px solid $secondary;
            color: $primary;
            outline: none;
            text-transform: uppercase;
            min-width: 9.375rem;
            font-family: $secondary;
            &:hover {
              background: $primary;
              color: $white;
            }
          }
          .contactanos {
            font-family: $secondary;
            font-weight: 500;
            display: inline-block;
            padding-block: 5px;
            padding-inline: 20px;
            border-radius: 3px;
            background-color: transparent;
            border: 2px solid $secondary;
            color: #fff;
            outline: none;
            text-transform: uppercase;
            min-width: 9.375rem;
            &:hover {
              background: $secondary;
              color: $primary;
            }
          }
        }
      }
    }
  }
}
