<div class="banner">
    <div class="banner-wrapper">
        <div class="banner-content">
            <div class="banner-detail">
                <h1>Un mundo de concreto</h1>
                <p>Aportamos experiencia y compromiso genuino con la calidad en cada proyecto. <br> no importa el
                    tamaño, mercado o método de entrega</p>

                <div class="buttons">
                    <button routerLink="/cotizador" class="cotizar">Cotizar</button>
                    <button routerLink="/contacto" class="contactanos">Contactanos</button>
                </div>
            </div>
        </div>
    </div>
</div>