<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->

        <!-- <div class="swiper-slide">
            <div class="contenido">
                <div class="img-fondo">
                    <img src="assets/images/bg-global-1900.jpg" alt="">
                </div>
            </div>
        </div> -->
        <div class="swiper-slide" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}">
            <div class="overlay">
                <div class="contenido">
                    <div class="content-title">
                        <div class="line"></div>
                        <div class="title">
                            <h1>un mundo <br /> de concreto</h1>
                        </div>
                    </div>

                    <div class="sub-title">
                        <p>
                            Cotiza tu proyecto <br /> fácil y rápido
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="swiper-slide" [ngStyle]="{'background-image': 'url(' + images[1] + ')'}">
            <div class="overlay overlay-b2">
                <div class="contenido">
                    <div class="content-title">
                        <div class="line"></div>
                        <div class="title">
                            <h1>un mundo <br /> de concreto</h1>
                        </div>
                    </div>

                    <div class="sub-title">
                        <p>
                            Cotiza tu proyecto <br /> fácil y rápido
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!--<div class="swiper-slide">Slide 3</div> -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>