<section class="showcase">
    <div class="video-container">
        <video
            src="https://firebasestorage.googleapis.com/v0/b/beastmain-df1c1.appspot.com/o/globalmix%2Fvideos%2Fvideo-globalmix.mov?alt=media&token=efa5269e-7013-4ccb-b1d2-34c52229720d"
            autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
    </div>
    <div class="content">
        <h1>Un Mundo de Concreto</h1>
        <h3>Cotiza tu proyecto fácil y rápido</h3>
        <a routerLink="/cotizador" class="btn">COTIZAR</a>
    </div>
</section>