/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary, sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1115px;
  margin: auto;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 1.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
