<div class="proyectos">
    <section class="portada">
        <div class="title container">
            <h1>detalle de proyecto</h1>
        </div>
    </section>

    <!-- Services Details Start -->
    <div class="services-details-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-services section-padding2">
                        <div class="details-img mb-40">
                            <img src="assets/images/bg-1.jpg" alt="">
                        </div>
                        <div class="details-caption">
                            <p>Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu
                                quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg
                                dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.Mollit anim
                                laborum.Dvcuis aute iruxvfg.</p>

                            <p class="mb-50">Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit
                                esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute
                                iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.Mollit
                                anim laborum.Dvcuis aute iruxvfg.</p>

                            <h3>Nuestro principal objetivo</h3>
                            <p class="mb-50">Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit
                                esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute
                                iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.Mollit
                                anim laborum.Dvcuis aute iruxvfg.</p>

                            <h3>Mira nuestros desafíos</h3>
                            <p>Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu
                                quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg
                                dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.Mollit anim
                                laborum.Dvcuis aute iruxvfg.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Details End -->
</div>

<app-footer></app-footer>