@import '../../../../../variables.scss';

.proyectos {
  min-height: 100vh;
  .portada {
    height: 50vh;
    width: 100vw;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(255, 255, 255, 0.1)
      ),
      url('../../../../../assets/images/fondos/portada-proyectos.jpg');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-family: $font-primary;
      text-transform: uppercase;
      h1 {
        font-size: 1.5rem;

        @media screen and(min-width: 700px) {
          font-size: 3rem;
        }
      }
    }
  }

  .single-services {
    padding: 50px 0px;
    .details-img {
      img {
        width: 100%;
      }
    }
    .details-caption {
      padding: 20px 0px;
      h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        font-family: $font-primary;
      }
      p {
        color: $gray;
      }
    }

    @media screen and(min-width: 700px) {
      padding: 200px 0px;
    }
  }
}
