<div class="cotizador">
    <div class="cotizador__header">
        <div class="line"></div>
        <div>
            <h2>Cotizador</h2>
            <p>Cotiza tu proyecto fácil y rápido</p>
        </div>
    </div>

    <div class="cotizador__body">

        <div class="cotizador__body-head">
            <div class="truck-container">
                <div class="step1">
                    <img src="assets/images/icons/icon-truck.png" alt="">
                    <div class="line"></div>
                </div>
                <div class="step2">
                    <img src="assets/images/icons/icon-truck.png" alt="">
                    <div class="line"></div>
                </div>
                <div class="step3">
                    <img src="assets/images/icons/icon-truck.png" alt="">
                    <div class="line"></div>
                </div>
            </div>
            <div class="title">
                <p>¿Qué tipo de proyecto deseas emprender?</p>
            </div>

            <div class="cotizador__body-icons container">
                <div class="nivel-1">
                    <div class="icon casas">
                        <div class="icon-casas">
                            <img src="assets/images/icons/casas/casa-principal.svg" alt="">
                        </div>
                        <h3>casas</h3>
                    </div>
                    <div class="icon edificios">
                        <div class="icon-edificios">
                            <img src="assets/images/icons/edificios/edificio-principal.svg" alt="">
                        </div>
                        <h3>Edificios</h3>
                    </div>
                    <div class="icon carreteras">
                        <div class="icon-carreteras">
                            <img src="assets/images/icons/carreteras/carretera-principal.svg" alt="">
                        </div>
                        <h3>Carreteras</h3>
                    </div>
                </div>
                <div class="nivel-2">
                    <div class="icon puentes">
                        <div class="icon-puentes">
                            <img src="assets/images/icons/puentes/puente-principal.svg" alt="">
                        </div>
                        <h3>Puentes y pasos a desnivel</h3>
                    </div>
                    <div class="icon bodegas">
                        <div class="icon-bodegas">
                            <img src="assets/images/icons/bodegas/bodega-principal.svg" alt="">
                        </div>
                        <h3>Bodegas industriales</h3>
                    </div>
                </div>


                <div class="divider container"></div>
            </div>
        </div>

    </div>
</div>