@import '../../../../variables.scss';

.icons-container {
  padding-block: 3.125rem;
  background-image: url('../../../../assets/images/icons/marca-agua.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
}

.container {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      cursor: pointer;
      width: 9.375rem;
      height: 9.375rem;
    }
    span {
      text-transform: uppercase;
      color: $primary;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.custom-buttons {
  border: 1px solid $primary;
  border-radius: 3px;
  background: $white;
  padding-inline: 0.625rem;
  padding-block: 0.3125rem;
  // font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  outline: none;
  cursor: pointer;
  color: $primary;
  &:hover {
    background: $primary;
    color: $secondary;
  }
}

.hero {
  border: 2px solid red;
  height: 200px;
}

.border-blue {
  border-bottom: 3px solid $primary !important;
}

.display-none {
  display: none;
}

.cotizador {
  // border: 1px solid green;
  // min-height: 100vh;
  // max-width: 1024px;
  margin: auto;
  .wrapper {
    padding: 0;  // <== Eliminar cuando se quite whapper en scss principal
    // border: 1px solid yellow;
    .contizador__content {
      &--header {
        .content {
          display: flex;
          flex-direction: column;
          border-left: 2px solid $secondary;
          padding-inline-start: 0.3rem;
          h2 {
            font-size: 3rem;
            letter-spacing: 1px;
            color: $gray;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 126%;
            // margin-bottom: 2px;
          }
          p {
            font-size: 1.1rem;
            color: $primary;
            margin-bottom: 1.5rem;
          }
        }
      }

      &--body {
        .truck-container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          //   border-bottom: 2px solid $secondary;

          .step1 {
            width: 100%;
            text-align: center;
            border-bottom: 3px solid $secondary;
            img {
              width: 9.375rem;
            }
          }
          .step2 {
            width: 100%;
            text-align: center;
            border-bottom: 3px solid $secondary;
            img {
              width: 9.375rem;
            }
          }
          .step3 {
            width: 100%;
            text-align: center;
            border-bottom: 3px solid $secondary;
            img {
              width: 9.375rem;
            }
          }
        }

        .icons-content {
          margin-block-start: 1em;
          .icon-wrapper {
            padding-inline: 10px;

            .title {
              margin-block-end: 1em;
              h3 {
                font-size: 1.25rem;
                color: $gray;
                font-weight: 400;
              }
            }

            .icons-principal {
              @extend .icons-container;
              border-bottom: 3px solid $secondary;
              grid-template-columns: 1fr 12.5rem 1fr;
              grid-template-rows: repeat(2, 1fr);
              grid-template-areas:
                'casa edificio carretera'
                'puente . bodega';

              .casa {
                grid-area: casa;
                margin-left: auto;
                margin-right: 5rem;
              }
              .edificio {
                grid-area: edificio;
              }
              .carretera {
                grid-area: carretera;
                margin-left: 5rem;
                margin-right: auto;
              }
              .puente {
                grid-area: puente;
                margin-left: auto;
              }
              .bodega {
                grid-area: bodega;
                margin-right: auto;
              }
              @extend .container;
            }
            .icons-casas {
              border-bottom: 3px solid $secondary;
              padding-block-end: 1rem;
              .iconos {
                @extend .icons-container;

                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas:
                  '. casas whats'
                  'terrazas . columnas'
                  'cimientos . zapatas';

                .casa {
                  grid-area: casas;
                }
                .terraza {
                  grid-area: terrazas;
                }
                .columna {
                  grid-area: columnas;
                }
                .cimiento {
                  grid-area: cimientos;
                }
                .zapata {
                  grid-area: zapatas;
                }

                .whats {
                  grid-area: whats;
                  .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                      font-weight: 400;
                      color: #4caf50;
                    }
                    img {
                      width: 3.125rem;
                      height: 3.125rem;
                    }
                    span {
                      color: #4caf50;
                      text-transform: none;
                      font-weight: 400;
                    }
                  }
                }
                @extend .container;
              }

              .buttons {
                display: flex;
                justify-content: space-between;
                button {
                  border: 1px solid $primary;
                  border-radius: 3px;
                  background: $white;
                  padding-inline: 10px;
                  padding-block: 5px;
                  outline: none;
                  cursor: pointer;
                  color: $primary;
                  &:hover {
                    background: $primary;
                    color: $secondary;
                  }
                }
              }
            }
            .icons-edificios {
              border-bottom: 3px solid $secondary;
              padding-block-end: 1rem;
              .iconos {
                @extend .icons-container;
                //   display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-template-areas:
                  ' . edificio whats '
                  'cimiento terraza piso-industrial';

                .edificio {
                  grid-area: edificio;
                }
                .cimiento {
                  grid-area: cimiento;
                }
                .terraza {
                  grid-area: terraza;
                }
                .piso-industrial {
                  grid-area: piso-industrial;
                }

                .whats {
                  grid-area: whats;
                  .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: auto;

                    p {
                      font-weight: 400;
                      color: #4caf50;
                    }
                    img {
                      width: 3.125rem;
                      height: 3.125rem;
                    }
                    span {
                      color: #4caf50;
                      text-transform: none;
                      font-weight: 400;
                    }
                  }
                }
                @extend .container;
              }

              .buttons {
                display: flex;
                justify-content: space-between;
                button {
                  @extend .custom-buttons;
                }
              }
            }
            .icons-carreteras {
              border-bottom: 3px solid $secondary;
              padding-block-end: 1rem;
              .iconos {
                @extend .icons-container;
                //   display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-template-areas:
                  ' . carretera whats '
                  '. pavimento .';

                .carretera {
                  grid-area: carretera;
                }
                .pavimento {
                  grid-area: pavimento;
                }

                .whats {
                  grid-area: whats;
                  .item {
                    // width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: auto;

                    p {
                      // margin-block-end: 5px;
                      font-weight: 400;
                      color: #4caf50;
                    }
                    img {
                      width: 3.125rem;
                      height: 3.125rem;
                    }
                    span {
                      color: #4caf50;
                      text-transform: none;
                      font-weight: 400;
                    }
                  }
                }
                @extend .container;
              }

              .buttons {
                display: flex;
                justify-content: space-between;
                button {
                  @extend .custom-buttons;
                }
              }
            }

            .detalle-cotizar {
              background-image: url('../../../../assets/images/icons/marca-agua.png');
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              border-bottom: 3px solid $secondary;
              padding-block-start: 1rem;
              padding-block-end: 1rem;
              .contenido {
                @extend .container;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .inputs {
                  margin-block-end: 5rem;
                  .controls {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    //   width: 50%;
                    margin-block-start: 1.5rem;
                    label {
                      margin-block-end: 1rem;
                      color: $primary;
                    }
                    input[type='number'] {
                      background-color: transparent;
                      border: 0;
                      border-bottom: 2px solid $primary;

                      font-size: 16px;
                      text-align: center;
                      outline: none;
                      padding-block-start: 5px;
                      &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                      }
                    }
                  }
                }
                span {
                  font-size: 12px;
                  margin-block-start: 5px;

                  color: red;
                }
              }
              .buttons {
                display: flex;
                justify-content: space-between;
                button {
                  @extend .custom-buttons;
                }
              }
            }

            .contact-form {
              background-image: url('../../../../assets/images/icons/marca-agua.png');
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              border-bottom: 3px solid $secondary;
              padding-block-start: 1rem;
              padding-block-end: 1rem;
              .contact-form-wrapper {
                // padding-inline-start: 20px;
                padding-block-end: 3.125rem;
                // border: 1px solid red;
                .form {
                  margin-block-start: 2rem;
                  display: flex;
                  flex-direction: column;
                  align-items: center; 
                  // justify-content: space-evenly;
                  // justify-content: space-evenly;
                  // border: 1px solid red;
                  padding-bottom: 4rem;
                  .row-form {
                    .controls {
                      padding-block: 1.5rem;
                      width: 14rem;

                      input {
                        width: 100%;
                        background: transparent;
                        border: none;
                        border-bottom: 2px solid $primary;
                        outline: none;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1rem;
                      }

                      select {
                        width: 100%;
                        background: transparent;
                        border: none;
                        border-bottom: 2px solid $primary;
                        outline: none;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1rem;
                      }

                      span {
                        font-size: 12px;
                        color: red;
                      }
                    }
                  }
                }
              }

              .buttons {
                display: flex;
                justify-content: space-between;
                button {
                  @extend .custom-buttons;
                }
              }
            }

            .finalizar {
              background-image: url('../../../../assets/images/icons/marca-agua.png');
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              border-bottom: 3px solid $secondary;
              padding-block-start: 1rem;
              padding-block-end: 1rem;
              .finalizar-wrapper {
                // border: 1px solid red;
                text-align: center;
                padding-inline: 4.6875rem;
                padding-block: 6.25rem;
                .contenido {
                  h2 {
                    padding-block-end: 1rem;
                    font-size: 1.75rem;
                    color: #888;
                    font-weight: 500;
                  }

                  p {
                    padding-block: 2rem;
                    padding-inline: 4rem;
                    color: #888;
                  }

                  .explorar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $primary;
                    span,
                    i {
                      width: 200px;
                      cursor: pointer;
                    }
                    &:hover {
                      font-size: 1.1rem;
                      // transition:  0.4s ease 0.4s;
                      transition: all 0.2s;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .icons-casas {
    border-bottom: 3px solid $secondary;
    padding-block-end: 1rem;
    .iconos {
      grid-template-columns: repeat(5, 1fr) !important;
      grid-template-rows: repeat(2, 1fr) !important;
      grid-template-areas:
        '. . casas whats .'
        'terrazas columnas . cimientos zapatas' !important;
    }
  }

  .contact-form {
    .contact-form-wrapper {
      .form {
        // display: flex;
        flex-direction: row !important;
        justify-content: space-evenly;
        
      }
    }
  }
}

/* @mixin my_icons {
  width: 50px;
  text-align: center;
  cursor: pointer;
  img {
    width: 100%;
    vertical-align: top;
  }

  h3 {
    color: $primary;
    font-size: 8px;
    text-transform: uppercase;
    @media screen and(min-width: 700px) {
      font-size: 16px;
    }
  }

  @media screen and(min-width: 700px) {
    width: 150px;
  }
}

@mixin inputs {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid $primary;
  font-family: $font-secondary;
  font-size: 16px;
  text-align: center;
  outline: none;
}
.container-divider {
  .divider {
    height: 2px;
    background: $secondary;
    // padding: 0px 15px;
    margin-top: 20px;
  }
  @media screen and(min-width: 700px) {
    padding: 0px 100px;
    margin-top: 40px;
  }
}

/* .add-image {
  display: block !important;
}

.remove-image {
  display: none;
} * /

.img-truck {
  display: none;
}

.change-line {
  background: $primary !important;
}

.cotizador {
  .cotizador__header {
    display: flex;
    flex-direction: row;
    .line {
      width: 2px;
      background: gold;
      height: auto;
      margin: 8px 5px 0px 15px;
      @media screen and (min-width: 700px) {
        margin: 0px 5px 0px 15px;
      }
    }
    h2 {
      font-family: $font-primary;
      text-transform: uppercase;
      color: $gray;
      font-weight: normal;
      @media screen and (min-width: 700px) {
        font-size: 40px;
        line-height: 40px;
      }
    }
    p {
      font-family: $font-secondary;
      color: $primary;
      font-size: 12px;
      @media screen and (min-width: 700px) {
        font-size: 18px;
      }
    }

    @media screen and (min-width: 700px) {
      //  padding-left: 105px;
    }
  }

  .cotizador__body {
    background-image: url('../../../../assets/images/fondos/marca-agua.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .truck-container {
      display: grid;
      grid-template: auto / 1fr 1fr 1fr;
      grid-template-areas: 'step1 step2 step3';
      margin-top: 20px;
      padding: 0px 15px;

      img {
        width: 50%;
        vertical-align: top;
        margin: 0px auto;
        //   display: none;
        @media screen and(min-width: 700px) {
          width: 25%;
        }
      }

      .step1 {
        grid-area: step1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .step2 {
        grid-area: step2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        //   img {
        //     display: none;
        //   }

        .line {
          background: $secondary;
        }
      }
      .step3 {
        grid-area: step3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        //   img {
        //     display: none;
        //   }
        .line {
          //    margin-top: auto;
          background: $secondary;
        }
      }

      .line {
        height: 3px;
        background: $primary;
      }

      @media screen and(min-width: 700px) {
        margin-top: 20px;
        //padding: 0px 100px;
      }
    }
    .title {
      font-size: 12px;
      padding: 5px 15px;
      color: $gray;
      font-weight: normal;
      font-family: $font-secondary;
      @media screen and(min-width: 700px) {
        font-size: 20px;
        padding: 10px 100px;
      }
    }

    .cotizador__body-icons {
      // padding: 20px 0px;
      /*       background-image: url('../../../../assets/images/fondos/marca-agua.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; * /
      .nivel-1 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 15px;
        justify-content: center;
        align-items: flex-end;
        grid-template-areas: 'casas edificios carreteras';

        .casas {
          grid-area: casas;
          margin: 0px auto;
        }
        .edificios {
          grid-area: edificios;
          margin: 0px auto;
        }
        .carreteras {
          grid-area: carreteras;
          margin: 0px auto;
        }

        @media screen and (min-width: 700px) {
          padding: 0px 150px;
        }
      }
      .nivel-2 {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        padding: 0px 15px;
        justify-content: center;
        align-items: flex-start;
        grid-template-areas: 'puentes bodegas';
        .puentes {
          grid-area: puentes;
          margin: 0px auto;
          //   @media screen and(min-width: 700px) {
          //     margin: 0px 100px 0px auto;
          //   }
        }
        .bodegas {
          grid-area: bodegas;
          margin: 0px auto;
          //   @media screen and(min-width: 700px) {
          //     margin: 0px auto 0px 100px;
          //   }
        }

        @media screen and (min-width: 700px) {
          padding: 0px 200px;
        }
      }

      .icon {
        width: 80px;
        text-align: center;
        cursor: pointer;
        img {
          width: 100%;
          vertical-align: top;
        }

        h3 {
          color: $primary;
          font-size: 8px;
          text-transform: uppercase;
          @media screen and(min-width: 700px) {
            font-size: 16px;
          }
        }

        @media screen and(min-width: 700px) {
          width: 150px;
        }
      }

      .divider {
        height: 2px;
        background: $secondary;
        padding: 0px 15px;
        margin-top: 20px;
        @media screen and(min-width: 700px) {
          padding: 0px 100px;
          margin-top: 40px;
        }
      }
    }

    .casas {
      .nivel-1 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'casas';
        justify-content: center;
        align-items: center;

        .casas {
          grid-area: casas;
          margin: 0px auto;
        }
      }

      .nivel-2 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 'terraza columna cimiento zapata';

        .terraza {
          grid-area: terraza;
          margin: 0px auto;
        }
        .columna {
          grid-area: columna;
          margin: 0px auto;
        }
        .cimiento {
          grid-area: cimiento;
          margin: 0px auto;
        }
        .zapata {
          grid-area: zapata;
          margin: 0px auto;
        }
      }

      .icon {
        @include my_icons();
      }
    }

    .edificios {
      .nivel-1 {
        display: grid;
        grid-template-rows: 1fr;
        // grid-template-columns: 1fr;
        grid-template-areas: 'edificio';
        justify-content: center;
        align-items: center;

        .edificio {
          grid-area: casas;
          margin: 0px auto;
        }
      }

      .nivel-2 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'terraza cimiento piso_insustrial';

        .terraza {
          grid-area: terraza;
          margin: 0px auto;
        }
        .cimiento {
          grid-area: cimiento;
          margin: 0px auto;
        }
        .piso-insustrial {
          grid-area: piso_insustrial;
          margin: 0px auto;
        }
      }

      .icon {
        @include my_icons();
      }
    }

    .carreteras {
      .nivel-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .icon {
        @include my_icons();
      }
    }

    .puentes {
      .nivel-1 {
        display: grid;
        grid-template-rows: 1fr;
        // grid-template-columns: 1fr;
        grid-template-areas: 'puente';
        justify-content: center;
        align-items: center;

        .puente {
          grid-area: puente;
          margin: 0px auto;
        }
      }

      .nivel-2 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'muro cimiento losa';

        .muro {
          grid-area: muro;
          margin: 0px auto;
        }
        .cimiento {
          grid-area: cimiento;
          margin: 0px auto;
        }
        .losa {
          grid-area: losa;
          margin: 0px auto;
        }
      }

      .icon {
        @include my_icons();
      }
    }

    .bodegas {
      .nivel-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .icon {
        @include my_icons();
      }
    }

    .subcategorias {
      .nivel-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .nivel-2 {
        // border: 1px solid red;
        padding: 20px 0px;
        text-align: center;
        p {
          color: $primary;
        }
        .input {
          @include inputs();
        }
        ::placeholder {
          color: $gray;
        }
      }

      .icon {
        @include my_icons();
      }
    }

    .formulario {
      .form-row {
        height: 100px;
        .input {
          width: 100%;
          text-align: left !important;
          @include inputs();

          @media screen and(min-width: 700px) {
            width: 80%;
          }
        }
      }
      @media screen and(min-width: 700px) {
        padding: 20px 120px;
      }
    }

    .finalizar {
      .contenido {
        text-align: center;
        h3 {
          color: $gray;
        }
        p {
          color: $gray;
        }

        .seguir-explorando {
          text-align: center;
          cursor: pointer;
          span {
            color: $primary;
            font-size: 12px;
            @media screen and(min-width: 700px) {
              font-size: 16px;
            }
          }
        }

        @media screen and(min-width: 700px) {
          padding: 100px 300px 0px;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      @media screen and(min-width: 700px) {
        padding: 20px 120px;
      }
    }
  }
}
 */
